/*
Syntax error: Invalid CSS after "...------------ */": expected selector or at-rule, was "}inoremap <buff..."
        on line 247 of /srv/aegir/platforms/pro101a/sites/all/themes/prostarter/css/scss/global.scss

Backtrace:
/srv/aegir/platforms/pro101a/sites/all/themes/prostarter/css/scss/global.scss:247
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.1/lib/sass/scss/parser.rb:1130:in `expected'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.1/lib/sass/scss/parser.rb:1066:in `expected'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.1/lib/sass/scss/parser.rb:28:in `parse'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.1/lib/sass/engine.rb:342:in `_to_tree'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.1/lib/sass/engine.rb:315:in `_render'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.1/lib/sass/engine.rb:262:in `render'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/fssm-0.2.9/lib/fssm/path.rb:73:in `call'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/fssm-0.2.9/lib/fssm/path.rb:73:in `run_callback'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/fssm-0.2.9/lib/fssm/path.rb:55:in `callback_action'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/fssm-0.2.9/lib/fssm/path.rb:35:in `update'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/fssm-0.2.9/lib/fssm/state/directory.rb:39:in `block in modified'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/fssm-0.2.9/lib/fssm/state/directory.rb:37:in `each'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/fssm-0.2.9/lib/fssm/state/directory.rb:37:in `modified'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/fssm-0.2.9/lib/fssm/state/directory.rb:18:in `refresh'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `each'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `block in run'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:15:in `loop'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:15:in `run'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/fssm-0.2.9/lib/fssm/monitor.rb:26:in `run'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/fssm-0.2.9/lib/fssm.rb:70:in `monitor'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/bin/compass:44:in `call'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/bin/compass:19:in `load'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/bin/compass:19:in `<main>'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/bin/ruby_noexec_wrapper:14:in `eval'
/srv/aegir/.rvm/gems/ruby-1.9.3-p286/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...------------ */\": expected selector or at-rule, was \"}inoremap <buff...\"\A         on line 247 of /srv/aegir/platforms/pro101a/sites/all/themes/prostarter/css/scss/global.scss"; }
