@import url("../../rubik/css/admin-menu.css");
/**
 * This file will hold styles for the mobile version of your website (mobile first).
 * This also can include ANY global CSS that applies site-wide. Unless overwritten
 * by a more specific style rule, CSS declarations in global.css will apply site-wide.
 */
/* Text styles */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\0000310}}
body {
  font: 13px/1.5 Verdana, Helvetica, Arial, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\0000314}}
a:link, a:visited {
  color: #0062A0;
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\0000319}}
a:hover {
  color: #202124;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\0000324}}
a:active {
  color: #202124;
  text-decoration: none;
  color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\0000330}}
hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #5294c1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\0000338}}
h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.05em;
  font-family: Georgia, 'Times New Roman', serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\0000343}}
h1 {
  font-size: 36px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\0000347}}
h2 {
  font-size: 28px;
}

/* Make site titles the same size if it's an H1 (home) or H2 (internal) */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\0000353}}
h1.site-name,
h2.site-name {
  font-size: 36px;
}

/* Make it a bit smaller for block headers */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\0000358}}
h2.block-title {
  font-size: 18px;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\0000363}}
h2.node-title {
  font-size: 28px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\0000367}}
h3 {
  font-size: 21px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\0000371}}
h4 {
  font-size: 19px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\0000375}}
h5 {
  font-size: 17px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\0000379}}
h6 {
  font-size: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\0000383}}
ol {
  list-style: decimal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\0000387}}
ul {
  list-style: disc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\0000392}}
ul ul,
ol ol {
  padding-top: 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\0000397}}
.node ol,
.node ul {
  padding-left: 1.2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003102}}
.node ul.inline,
.node ol.inline {
  padding-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003107}}
p, dl, hr, h1, h2, h3, h4, h5, h6, ol,
ul, pre, table, address, fieldset {
  margin-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003111}}
dt, .admin h3 {
  font-size: 18px;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003116}}
dd {
  padding-left: 10px;
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 20px;
}

/* *************************************************************************** */
/* Header Section */
/* User Menu */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003129}}
header #block-system-user-menu h2.block-title {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003133}}
header #block-system-user-menu ul.menu {
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003137}}
header #block-system-user-menu ul.menu li {
  display: inline;
}

/* Image */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003151}}
img {
  height: auto;
  max-width: 100%;
  width: auto\9;
  /* Fix for IE 8 */
}

/* Block */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003163}}
.view-showcase .views_slideshow_cycle_main {
  border: 1px solid #ccc;
  padding: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003168}}
.view-showcase .views-slideshow-cycle-main-frame-row {
  width: 100%;
}

/* Title */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003175}}
.view-showcase .views-field-title {
  float: left;
  font-size: 32px;
  line-height: 32px;
  width: 33%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003183}}
.view-showcase .views-field-title a:link,
.view-showcase .views-field-title a:visited {
  color: #000000;
  text-decoration: none;
}

/* Subitle */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003192}}
.view-showcase .views-field-title .field-content,
.view-showcase .views-field-field-subtitle .field-content {
  padding: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003196}}
.view-showcase .views-field-field-subtitle {
  color: red;
  margin-bottom: 10px;
}

/* Read More */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003203}}
.view-showcase .views-field-field-url {
  float: left;
  text-align: center;
  width: 10%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003210}}
.view-showcase .views-field-field-url a:link,
.view-showcase .views-field-field-url a:visited {
  color: #919191;
  font-size: 12px;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003216}}
.view-showcase .views-field-field-url .field-content {
  background: url("../gfx/button.png");
  border: 1px solid #c7c7c7;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 5px 10px 7px 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003225}}
.view-showcase .views-field-field-url .field-content:active {
  background: url("../gfx/button-active.png") no-repeat;
}

/* Previous/Next Controls */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003235}}
.view-showcase .views-slideshow-controls-text-previous,
.view-showcase .views-slideshow-controls-text-pause,
.view-showcase .views-slideshow-controls-text-play,
.view-showcase .views-slideshow-controls-text-next {
  display: block;
  height: 40px;
  text-indent: -9999px;
  width: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003242}}
.view-showcase .views-slideshow-controls-text-previous {
  background: url("../gfx/controls.png") no-repeat top left;
  bottom: 58%;
  left: -20px;
  position: absolute;
  z-index: 99;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003250}}
.view-showcase .views-slideshow-controls-text-previous:active {
  background: url("../gfx/controls.png") no-repeat bottom left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003254}}
.view-showcase .views-slideshow-controls-text-pause {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003258}}
.view-showcase .views-slideshow-controls-text-next {
  background: url("../gfx/controls.png") no-repeat top right;
  bottom: 58%;
  position: absolute;
  right: -20px;
  z-index: 99;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003266}}
.view-showcase .views-slideshow-controls-text-next:active {
  background: url("../gfx/controls.png") no-repeat bottom right;
}

/* Pager */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003274}}
.view-showcase .skin-default .views-slideshow-controls-bottom {
  clear: both;
  margin-top: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003279}}
.view-display-id-generic .views-slideshow-pager-field-item {
  background: url("../gfx/button.png");
  border: 1px solid #c7c7c7;
  color: #919191;
  display: inline-block;
  *display: inline;
  /*Fix for IE 7 */
  height: 12px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-right: 2px;
  width: 12px;
  zoom: 1;
  /*Fix for IE 7 */
  text-indent: -99999px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003295}}
.view-showcase .views-slideshow-pager-field-item:hover {
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003299}}
.view-showcase .active {
  background: url("../gfx/button-active.png") no-repeat bottom left;
  border: 1px solid red;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003306}}
.view-display-id-thumbnail .views-slideshow-pager-field-item {
  float: left;
  margin: 0 10px;
}

/*Global (i.e. "Mobile")*/
@media screen and (max-width: 739px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003317}}
  .view-bendy-featured-content-rotating-banner .views-slideshow-controls-text-previous {
    bottom: 35px;
    left: 5px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003322}}
  .view-bendy-featured-content-rotating-banner .views-slideshow-controls-text-next {
    bottom: 35px;
    right: 5px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003327}}
  .view-bendy-featured-content-rotating-banner .views-field-title {
    font-size: 18px;
    line-height: 18px;
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003333}}
  .view-bendy-featured-content-rotating-banner .views-field-nothing {
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003337}}
  .view-bendy-featured-content-rotating-banner .views-field-field-bendy-image {
    width: 100%;
  }
}
/*Narrow*/
@media (min-width: 740px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003347}}
  .view-bendy-featured-content-rotating-banner .views-field-title {
    font-size: 26px;
    line-height: 26px;
  }
}
/*Normal*/
@media (min-width: 980px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003357}}
  .view-bendy-featured-content-rotating-banner .views-field-title {
    font-size: 38px;
    line-height: 38px;
  }
}
/*Wide*/
@media (min-width: 1220px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003367}}
  .view-bendy-featured-content-rotating-banner .views-field-title {
    font-size: 50px;
    line-height: 50px;
  }
}
/* Context UI */
/* hides contextual link gears when inline editor is active */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003378}}
.context-editing .contextual-links-region:hover a.contextual-links-trigger,
.context-editing div.contextual-links-active a.contextual-links-trigger,
.context-editing div.contextual-links-active ul.contextual-links {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003388}}
#boxes-box-twitter {
  width: 100% !important;
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003393}}
#twtr-widget-1 .twtr-doc, #twtr-widget-1 .twtr-hd a, #twtr-widget-1 h3, #twtr-widget-1 h4 {
  background: none !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003398}}
#boxes-box-twitter .twtr-widget,
#boxes-box-twitter .twtr-doc {
  width: 100% !important;
  height: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003404}}
#boxes-box-twitter .twtr-hd,
#boxes-box-twitter .twtr-ft {
  background: #efefef;
  -moz-border-radius: 0;
  border-radius: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003413}}
#boxes-box-twitter .twtr-hd *,
#boxes-box-twitter .twtr-ft *,
#boxes-box-twitter .twtr-hd h4 a,
#boxes-box-twitter .twtr-ft h4 a {
  background: none !important;
  color: #0062A0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003419}}
#boxes-box-twitter .twtr-hd h3,
#boxes-box-twitter .twtr-hd h4 {
  font-weight: normal;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003424}}
#boxes-box-twitter .twtr-hd h3 {
  background: none !important;
  font-size: 1.5em !important;
  padding: 0.2em !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003430}}
#boxes-box-twitter .twtr-hd h3 a {
  background: none !important;
  color: #0062A0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003435}}
#boxes-box-twitter .twtr-bd {
  /* background: none !important; */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003439}}
#boxes-box-twitter .twtr-tweet {
  background: #fff;
  border-bottom: 1px solid #eee !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003446}}
#boxes-box-twitter .twtr-tweet a:link,
#boxes-box-twitter .twtr-tweet a:visited,
#boxes-box-twitter .twtr-tweet a:hover {
  color: #0062A0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003450}}
#boxes-box-twitter .twtr-tweet .twtr-tweet-text {
  padding-bottom: 4px !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003454}}
#boxes-box-twitter .twtr-tweet .twtr-tweet-text p {
  color: #333 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003458}}
#boxes-box-twitter .twtr-timeline {
  border-radius: 0;
  -moz-border-radius: 0;
}

/* Facebook Comments  */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003465}}
.fb-comments {
  display: block !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003469}}
.fb-comments span {
  width: 100% !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003473}}
.fb-comments span iframe {
  width: 100% !important;
}

/* Position message close button */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003479}}
div.messages a.close {
  float: right;
  margin: -10px 10px 0;
  font-size: 170%;
  color: #999;
  text-decoration: none;
}

/* Blocks */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/global\.scss}line{font-family:\00003489}}
.block-fb-like-box iframe {
  width: 100% !important;
}
