@import url(http://fonts.googleapis.com/css?family=Monda:400,700);
/* vim:set fdm=marker: */
/*
      _       __             _ _       ____   ____ ____ ____
   __| | ___ / _| __ _ _   _| | |_    / ___| / ___/ ___/ ___|
  / _` |/ _ \ |_ / _` | | | | | __|___\___ \| |   \___ \___ \
 | (_| |  __/  _| (_| | |_| | | ||_____|__) | |___ ___) |__) |
  \__,_|\___|_|  \__,_|\__,_|_|\__|   |____/ \____|____/____/

*/
/* vim:set fdm=marker: */
/*
        _       _           _       _            _           _
   __ _| | ___ | |__   __ _| |     (_)_ __   ___| |_   _  __| | ___
  / _` | |/ _ \| '_ \ / _` | |_____| | '_ \ / __| | | | |/ _` |/ _ \
 | (_| | | (_) | |_) | (_| | |_____| | | | | (__| | |_| | (_| |  __/
  \__, |_|\___/|_.__/ \__,_|_|     |_|_| |_|\___|_|\__,_|\__,_|\___|
  |___/
*/
/* Colors */
/* Margins/Padding */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\0000319}}
#block-system-user-menu ul.menu {
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\0000324}}
#block-delta-blocks-logo .logo-img {
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\0000329}}
#block-nodeblock-call-to-action {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\0000335}}
#block-mobile-menu-toggle-mobile-menu-toggle {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\0000340}}
#zone-menu {
  display: block !important;
  margin-bottom: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\0000346}}
#zone-menu #block-system-main-menu ul.menu li {
  width: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\0000350}}
#zone-menu #block-system-main-menu ul.menu li.first {
  margin-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\0000354}}
#zone-menu #block-system-main-menu ul.menu li a {
  background: none;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\0000358}}
#zone-menu #block-system-main-menu ul.menu li a.active {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: none;
  background: #666666;
  cursor: pointer;
  color: white;
  font: 90%/1.5 Arial, sans-serif;
  outline: 0;
  overflow: visible;
  padding: 4px 7px;
  text-shadow: none;
  text-decoration: none;
  width: auto;
  padding: 7px 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\0000374}}
#block-views-slideshow-slideshow .flexslider {
  border: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\0000381}}
#block-views-slideshow-slideshow .flexslider ul.slides li .views-field-nothing #slide-content {
  background: url(../gfx/dark-transparency.png);
  bottom: 0;
  padding: 10px;
  position: absolute;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\0000387}}
#block-views-slideshow-slideshow .flexslider ul.slides li .views-field-nothing #slide-content h2 {
  color: #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\0000391}}
#block-views-slideshow-slideshow .flexslider ul.slides li .views-field-nothing #slide-content p {
  color: white;
  width: 90%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\0000396}}
#block-views-slideshow-slideshow .flexslider ul.slides li .views-field-nothing #slide-content .button {
  position: absolute;
  right: 15px;
  bottom: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\00003110}}
.context-about #about_graphic {
  margin: 0 10px 15px 15px;
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\00003117}}
.view-blog .node-teaser .field-name-field-title-graphic {
  margin: 6px 15px 0 0;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\00003124}}
.user-profile .profile #left-col {
  background: #eaeaea;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\00003127}}
.user-profile .profile #left-col #card {
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\00003130}}
.user-profile .profile #left-col #card #left-card {
  width: 45%;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\00003134}}
.user-profile .profile #left-col #card #left-card .user-picture {
  margin: 25px 0 0 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\00003137}}
.user-profile .profile #left-col #card #left-card .user-picture img {
  width: 90%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\00003143}}
.user-profile .profile #left-col #card #right-card {
  float: left;
  width: 45%%;
  padding: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\00003148}}
.user-profile .profile #left-col #card #right-card #name {
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\00003152}}
.user-profile .profile #left-col #card #right-card .field-name-field-title {
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\00003156}}
.user-profile .profile #left-col #card #right-card #social-icons {
  width: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\00003168}}
.not-logged-in.user-account #messages .status {
  top: 470px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\00003174}}
.not-logged-in.user-account #user-login,
.not-logged-in.user-account #user-pass {
  width: 500px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\00003181}}
.page-node-add-testimonial #testimonial-node-form {
  width: 400px;
  padding: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\00003186}}
.page-node-add-testimonial #bottom {
  width: 500px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\00003194}}
.region-content ul.flippy {
  text-align: center;
  height: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\00003199}}
.region-content ul.flippy li.next,
.region-content ul.flippy li.previous {
  font-size: 750%;
  display: inline-block;
  position: relative;
  top: -400px;
  padding: 0;
  width: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\00003208}}
.region-content ul.flippy li.next {
  margin-left: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\00003209}}
.region-content ul.flippy li.previous {
  margin-right: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\00003211}}
.region-content ul.flippy li.next a:before {
  content: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\00003212}}
.region-content ul.flippy li.previous a:after {
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\00003221}}
#zone-foot-wrapper {
  height: 150px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\00003225}}
#zone-foot-wrapper .region {
  height: 150px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\00003228}}
#zone-foot-wrapper #block-nodeblock-site-disclamer .content p {
  display: table-cell;
  height: 150px;
  padding: 0 15px;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\00003238}}
#zone-bottom-wrapper {
  height: 60px;
  line-height: 60px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\00003242}}
#zone-bottom-wrapper .region {
  height: 60px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\00003244}}
#zone-bottom-wrapper #block-menu-menu-auxiliary {
  padding-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\00003246}}
#zone-bottom-wrapper #block-nodeblock-copyright {
  margin-top: 0;
}
