/* vim:set fdm=marker: */
/*
This file will hold styles that are loaded using the same media query as the
narrow grid. If you are using the default media queries provided by Omega, these
styles will also apply to the normal and widescreen layouts. You may override
these styles in the normal and widescreen CSS files as appropriate.
*/
/* User Menu */
/* -------------------------------------------------------------------------- */
/* Logo Block (Branding) */
/* -------------------------------------------------------------------------- */
/* Call to Action Block */
/* -------------------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default-narrow\.scss}line{font-family:\0000323}}
#block-nodeblock-call-to-action p.action-number i {
  font-size: 160%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default-narrow\.scss}line{font-family:\0000327}}
#block-nodeblock-call-to-action p.action-number {
  font-size: 80%;
  margin-top: -1px;
}

/* Social Media links */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default-narrow\.scss}line{font-family:\0000342}}
.item-list ul.jasm-service-list li {
  margin: 0 2.4%;
}
