/* vim:set fdm=marker: */
/*
This file will hold styles that are loaded using the same media query as the
narrow grid. If you are using the default media queries provided by Omega, these
styles will also apply to the normal and widescreen layouts. You may override
these styles in the normal and widescreen CSS files as appropriate.
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default-narrow\.scss}line{font-family:\0000312}}
#block-nodeblock-call-to-action p.action-number i {
  font-size: 160%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default-narrow\.scss}line{font-family:\0000316}}
#block-nodeblock-call-to-action p.action-number {
  font-size: 80%;
  margin-top: -1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default-narrow\.scss}line{font-family:\0000326}}
#block-jasm-service-list .item-list {
  min-width: 220px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default-narrow\.scss}line{font-family:\0000330}}
.item-list ul.jasm-service-list li {
  margin: 0 3.3%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default-narrow\.scss}line{font-family:\0000334}}
ul.jasm-service-list li.first {
  margin-left: 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default-narrow\.scss}line{font-family:\0000335}}
ul.jasm-service-list li.last {
  margin-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default-narrow\.scss}line{font-family:\0000338}}
#block-jasm-feedburner-mail-subscribe .form-submit {
  float: right;
  margin-top: 10px;
}
