/* vim:set fdm=marker: */
/*
This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout).
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\000039}}
#block-system-user-menu ul.menu {
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\0000314}}
header #block-delta-blocks-logo .logo-img {
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\0000319}}
#block-nodeblock-call-to-action {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101a\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default\.scss}line{font-family:\0000331}}
.view-blog .views-field-field-title-graphic {
  margin-top: 6px;
}
