@import url(http://fonts.googleapis.com/css?family=Monda:400,700);
/* vim:set fdm=marker: */
/*
                                         ____   ____ ____ ____
  _ __   __ _ _ __ _ __ _____      __   / ___| / ___/ ___/ ___|
 | '_ \ / _` | '__| '__/ _ \ \ /\ / /___\___ \| |   \___ \___ \
 | | | | (_| | |  | | | (_) \ V  V /_____|__) | |___ ___) |__) |
 |_| |_|\__,_|_|  |_|  \___/ \_/\_/     |____/ \____|____/____/

*/
/* vim:set fdm=marker: */
/*
        _       _           _       _            _           _
   __ _| | ___ | |__   __ _| |     (_)_ __   ___| |_   _  __| | ___
  / _` | |/ _ \| '_ \ / _` | |_____| | '_ \ / __| | | | |/ _` |/ _ \
 | (_| | | (_) | |_) | (_| | |_____| | | | | (__| | |_| | (_| |  __/
  \__, |_|\___/|_.__/ \__,_|_|     |_|_| |_|\___|_|\__,_|\__,_|\___|
  |___/
*/
/* Colors */
/* Margins/Padding */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default-narrow\.scss}line{font-family:\0000338}}
#block-views-slideshow-slideshow .flexslider ul.slides li .views-field-nothing #slide-content {
  width: 680px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default-narrow\.scss}line{font-family:\0000351}}
.view-display-id-about_author_block .views-field-picture {
  width: 25%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default-narrow\.scss}line{font-family:\0000357}}
.view-display-id-about_author_block .views-field-field-pro-bio {
  width: 70%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default-narrow\.scss}line{font-family:\0000361}}
.view-display-id-about_author_block .views-field-realname {
  margin-left: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default-narrow\.scss}line{font-family:\0000369}}
.flippy li.next {
  right: -455px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default-narrow\.scss}line{font-family:\0000370}}
.flippy li.previous {
  left: -225px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default-narrow\.scss}line{font-family:\0000378}}
.item-list ul.jasm-service-list li {
  margin: 0 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default-narrow\.scss}line{font-family:\0000383}}
ul.jasm-service-list li.first {
  margin-left: 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default-narrow\.scss}line{font-family:\0000384}}
ul.jasm-service-list li.last {
  margin-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aegir\/platforms\/pro101\/sites\/all\/themes\/prostarter\/css\/scss\/prostarter-alpha-default-narrow\.scss}line{font-family:\0000387}}
#block-jasm-feedburner-mail-subscribe .form-submit {
  float: right;
  margin-bottom: 10px;
}
