/* vim:set fdm=marker: */
/*
        _       _           _       _            _           _
   __ _| | ___ | |__   __ _| |     (_)_ __   ___| |_   _  __| | ___
  / _` | |/ _ \| '_ \ / _` | |_____| | '_ \ / __| | | | |/ _` |/ _ \
 | (_| | | (_) | |_) | (_| | |_____| | | | | (__| | |_| | (_| |  __/
  \__, |_|\___/|_.__/ \__,_|_|     |_|_| |_|\___|_|\__,_|\__,_|\___|
  |___/
*/
// IMPORTS {{{
// *****************************************************************************
@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Monda:400,700);
// @import url("../../../rubik/css/admin-menu.css");
// }}}
// VARIABLES {{{
// *****************************************************************************
/* Colors */
$lightest: #FFFFFF;
$lighter: #EAEAEA;
$light: #CCCCCC;
$dark: #666666;
$darker: #444444;
$darkest: #000000;

/* Margins/Padding */
$dm: 15px;
// }}}
// MIXINS {{{
// *****************************************************************************
@mixin button-style {
	@include border-radius(5px);
	border: none;
	background: $dark;
	cursor: pointer;
	color: $lightest;
	font: 90%/1.5 Arial, sans-serif;
	outline: 0;
	overflow: visible;
	padding: 4px 7px;
	text-shadow: none;
	text-decoration: none;
	width: auto;
}
// }}}
