/* vim:set fdm=marker: */
/*
        _       _           _      ____   ____ ____ ____
   __ _| | ___ | |__   __ _| |    / ___| / ___/ ___/ ___|
  / _` | |/ _ \| '_ \ / _` | |____\___ \| |   \___ \___ \
 | (_| | | (_) | |_) | (_| | |_____|__) | |___ ___) |__) |
  \__, |_|\___/|_.__/ \__,_|_|    |____/ \____|____/____/
  |___/
*/

// IMPORTS {{{
// *****************************************************************************
@import "_global_include";
// }}}
// HTML ELEMENTS {{{
// *****************************************************************************
// # GLOBAL ELEMENTS {{{
body {
	font: 100%/1.5 Arial, sans-serif;
	color: $dark;
	margin-top: 40px;
}
// }}}
// # ANCHOR ELEMENTS {{{
a:link,
a:visited {
	color: $darkest;
	text-decoration: none;
}

a:hover {
	color: #202124;
	text-decoration: underline;
}

a:active {
	color: #202124;
}
// }}}
// # HEADING ELEMENTS {{{
h1,h2,h3,h4,h5,h6 {
	letter-spacing: -.05em;
	font-family: Monda, sans-serif;
	margin-bottom: $dm;
}

h1 {
	font-size: 110%;
}

h2 {
	font-size: 108%;
}

h3 {
	font-size: 106%;
}

h4 {
	font-size: 104%;
}

h5 {
	font-size: 102%;
}

h6 {
	font-size: 100%;
}
// }}}
// # LIST ELEMENTS {{{
ol {
	list-style: decimal;
}

ul,
li,
.item-list ul li {
	list-style: disc;
	list-style-position: inside;
	margin: 0;
	padding: 0 0 4px 0;
}

ul ul,
ol ol {
	padding-top: .5em;
}
// }}}
// # FORM ELEMENTS (Formalize) {{{
/* UI Consistency */
::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="search"]::-webkit-search-decoration {
	display: none;
}

input,
button,
select,
textarea {
	margin: 0;
	vertical-align: middle;
}

button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
	@include button-style; // contents in global_include.scss
	// -webkit-appearance: none;
	// -moz-border-radius: 11px;
	// -webkit-border-radius: 11px;
	// -moz-background-clip: padding;
	// -webkit-background-clip: padding;
	// background-clip: padding-box;
	// border-radius: 11px;
	// background: #ddd url(../gfx/button.png) repeat-x;
	// background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
	// background: -moz-linear-gradient(top center, #fff 0%, #ddd 100%);
	// border: 1px solid;
	// border-color: #ddd #bbb #999;
	// color: #333;
	// font: bold 12px/1.2 Arial, sans-serif;
	// padding: 3px 10px 4px;
	// text-shadow: #fff 0 1px 1px;
	// *padding-top: 2px; /* IE7 */
	// *padding-bottom: 0px; /* IE7 */
}

.button,
a.button,
.button a {
	@extend button;
	color: $lightest;
}

button {
	*padding-top: 1px; /* IE7 */
	*padding-bottom: 1px; /* IE7 */
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
	@include border-radius(none);
	@include box-sizing(border-box);
	@include background-clip(padding);
	background-color: #FFF;
	border: 1px solid;
	border-color: #848484 #C1C1C1 #E1E1E1;
	color: #000;
	outline: 0;
	padding: 2px 3px;
	// font-size: 13px;
	// font-family: Arial, sans-serif;
	// height: 1.8em;
	height: 30px;
	width: 100%;
	margin-bottom: $dm;
	*padding-top: 2px; /* IE7 */
	*padding-bottom: 1px; /* IE7 */
	*height: auto; /* IE7 */
}

/* Separate rule for Firefox. Cannot stack with WebKit's. */
input.placeholder_text,
textarea.placeholder_text,
input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #888;
}

::-webkit-input-placeholder {
	color: #888;
}

button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
	-moz-box-shadow: #06f 0 0 7px;
	-webkit-box-shadow: #06f 0 0 7px;
	box-shadow: #06f 0 0 7px;
	z-index: 1; /* For Opera */
}

input[type="file"]:focus,
input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

select[disabled],
textarea[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
	background-color: #eee;
}

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
	@include box-shadow(none);
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	color: #888;
	cursor: default;
}

textarea,
select[size],
select[multiple] {
	height: auto;
}

/* Tweaks for Safari + Chrome. */
@media (-webkit-min-device-pixel-ratio: 0) {
  select {
		background-image: url(../gfx/select-arrow.gif);
		background-repeat: no-repeat;
		background-position: right center;
		padding-right: 20px;
  }

  select[size],
  select[multiple] {
		background-image: none;
		padding: 0;
  }
}

.form-textarea-wrapper {
	width: 100%;
}

textarea {
	min-height: 40px;
	overflow: auto;
	resize: vertical;
	width: 100%;
}

optgroup {
	color: #000;
	font-style: normal;
	font-weight: normal;
}

/* IE6 */
.ie6-button,
* html button {
	background: #ddd url(../gfx/button.png) repeat-x;
	border: 1px solid;
	border-color: #ddd #bbb #999;
	cursor: pointer;
	color: #333;
	font: bold 12px/1.2 Arial, sans-serif;
	padding: 2px 10px 0px;
	overflow: visible;
	width: auto;
}

* html button {
	padding-top: 1px;
	padding-bottom: 1px;
}

.ie6-input,
* html textarea,
* html select {
	background: #fff;
	border: 1px solid;
	border-color: #848484 #c1c1c1 #e1e1e1;
	color: #000;
	padding: 2px 3px 1px;
	font-size: 13px;
	font-family: Arial, sans-serif;
	vertical-align: top;
}

* html select {
	margin-top: 1px;
}

.placeholder_text,
.ie6-input-disabled,
.ie6-button-disabled {
	color: #888;
}

.ie6-input-disabled {
	background: #eee;
}

// Compact Form Labels
.compact-form-label {
	line-height: 30px;
}

// }}}
// # OTHER ELEMENTS {{{
p,
dl,
hr,
ol,ul,
pre,
table,
address,
fieldset,
blockquote,
h1,h2,h3,h4,h5,h6 {
	margin-bottom: $dm;
}

dd {
	padding-left: 10px;
	font-size: 90%;
	font-style: italic;
	margin-bottom: $dm;
}

hr {
	margin: 1em 0;
	padding: 0;
	border: none;
	height: 1px;
	background: $light;
}

img {
	height: auto;
	max-width: 100%;
	width: auto\9; /* Fix for IE 8 */
}

blockquote {
	font-style: italic;
	position: relative;
	padding-top: $dm;
	text-indent: 30px;

	span:before {
		content: "\201C";
		color: $light;
		font-family: Georgia, serif;
		font-size: 500%;
		position: absolute;
		top: -20px;
		left: -40px;
	}
}

// }}}
// }}}
// DRUPAL ELEMENTS {{{
// *****************************************************************************
h2.node-title {
	font-size: 160%;
}

h2.node-title a {
	color: $dark;
}

h2.block-title {
	background: $lighter;
	padding: 5px 0;
	text-indent: 10px;
}

.node ol,
.node ul {
	padding-left: 1.2em;
}

.node ul.inline,
.node ol.inline {
	padding-left: 0;
}

.block {
	margin-bottom: $dm;
}

dt,.admin h3 {
	font-size: 180%;
	margin: 0;
}

// Messages
div.messages {
	margin: 10px 0 20px;
}

div.messages div.krumo-root {
	margin-top: 2em;
}


/* Message's Close X TODO: use a real icon */
div.messages a.close {
	font-family: Tahoma;
	float: right;
	margin: 0 20px 20px;
	font-size: 100%;
	color: #999;
	text-decoration: none;
}

/* Overrides */
.mobile-adaptive-block .orientation {
	margin-top: 0;
}
// }}}


// HEADER SECTION {{{
// *****************************************************************************
// # SECTION {{{
#section-header {
	margin: $dm $dm 0 $dm;
}
// }}}
// # USER MENU {{{
#block-system-user-menu h2.block-title {
	display: none;
}

#block-system-user-menu ul.menu {
	text-align: center;
}

#block-system-user-menu ul.menu li {
	display: inline;
}

#block-system-user-menu ul.menu li a {
}
// }}}
// # BRANDING {{{
#block-delta-blocks-logo .logo-img {
	text-align: center;
	margin-bottom: $dm;
}
// }}}
// # CALL TO ACTION {{{
#block-nodeblock-call-to-action {
	float: right;
	width: 150px;
	margin-top: 5px;

	h2.block-title {
		display: none;
	}

	a.action-number {
		@include button-style;
		display: block;
		height: 24px;

		div {
			text-align: center;
			line-height: 22px;
		}

		i {
			font-size: 165%;
			vertical-align: middle;
			margin-top: 2px;
		}
	}

	p.action-caption {
		text-align: center;
		font-size: 90%;
		margin: 0;
	}
}
// }}}
// # MAIN MENU {{{
// Mobile Menu Link
#block-mobile-menu-toggle-mobile-menu-toggle {
	float: left;

	ul {
		margin: 8px 0 0 10px;

		li {
			list-style: none;

			a#toggle {
				@include button-style;
				padding: 8px 7px;
			}
		}
	}

	.contextual-links-wrapper { display: none; }
}

// Main Menu
#zone-menu {
	#block-system-main-menu {
		h2.block-title {
			display: none;
		}

		ul.menu {
			width: 100%;
			margin: 0;

			li {
				float: left;
				list-style: none;
				margin: 0 2%;
				padding: 0;
				width: 45%;

 				@media all and (max-width: 300px) {
					width: 100%;
 				}

				a {
					@include border-radius(5px);
					display: block;
					text-decoration: none;
					background: $lighter;
					margin: 5px 0;
					padding: 5px;
					width: 95%;
					text-indent: 5px;

					&.active, &.active:hover {
						background: $dark;
						color: $lightest;
					}

					&:hover {
						background: $light;
						color: $darker;
					}
				}
			}
		}
	}
}
// }}}
// }}}
// CONTENT SECTION {{{
// *****************************************************************************
// # SECTION {{{
#section-content { margin: 0 $dm; }
// }}}
// # HOME {{{
// ## SLIDESHOW {{{
#block-views-slideshow-slideshow {
	postion: relative;
	margin: 0;

	.flexslider {
		box-shadow: none;
		border:1px solid $lighter;

		ul.slides li {
			padding: 0;

			.views-field-nothing {

				#slide-content {
					padding: 10px;
					h2 {
						margin: 0;
					}

					p {
						font-size: 80%;
						margin: 0;
						width: auto;
					}

					.button {
						float: right;
						margin: $dm 0;
					}
				}
			}
		}
	}
}
// }}}
// ## TRENDING (TWITTER) {{{
// Full block
#block-jasm-twitter-search-widget {
	width: 100%!important;
	height: auto!important;
	margin: 0 auto!important;
}

#block-jasm-twitter-search-widget img {
	max-width: none;
}

// Headers & Titles
#block-jasm-twitter-search-widget #twtr-widget-1 .twtr-new-results,
#block-jasm-twitter-search-widget #twtr-widget-1 .twtr-results-inner,
#block-jasm-twitter-search-widget #twtr-widget-1 .twtr-timeline,
#block-jasm-twitter-search-widget #twtr-widget-1 .twtr-doc,
#block-jasm-twitter-search-widget #twtr-widget-1 .twtr-hd a,
#block-jasm-twitter-search-widget #twtr-widget-1 h3,
#block-jasm-twitter-search-widget #twtr-widget-1 h4 {
	background: none!important;
	margin-bottom: $dm;
}


#block-jasm-twitter-search-widget .twtr-widget,
#block-jasm-twitter-search-widget .twtr-doc {
	width: 100%!important;
	height: auto;
}

#block-jasm-twitter-search-widget .twtr-hd,
#block-jasm-twitter-search-widget .twtr-ft {
	display: none;
}

#block-jasm-twitter-search-widget .twtr-hd *,
#block-jasm-twitter-search-widget .twtr-ft *,
#block-jasm-twitter-search-widget .twtr-hd h4 a,
#block-jasm-twitter-search-widget .twtr-ft h4 a {
	background: none!important;
	color: #0062A0!important;
}

#block-jasm-twitter-search-widget .twtr-hd h3,
#block-jasm-twitter-search-widget .twtr-hd h4 {
	font-weight: normal;
	text-align: center;
}

#block-jasm-twitter-search-widget .twtr-hd h3 {
	background: none!important;
	font-size: 1.5em!important;
	padding: .2em!important;
}

#block-jasm-twitter-search-widget .twtr-hd h3 a {
	background: none!important;
	color: $darkest!important;
}

#block-jasm-twitter-search-widget .twtr-bd {
	/* background: none !important; */
}

#block-jasm-twitter-search-widget .twtr-tweet {
	background: $lightest;
	border-bottom: 1px solid #eee!important;
}

#block-jasm-twitter-search-widget .twtr-tweet a:link,
#block-jasm-twitter-search-widget .twtr-tweet a:visited,
#block-jasm-twitter-search-widget .twtr-tweet a:hover {
	color: $darkest!important;
}

#block-jasm-twitter-search-widget .twtr-tweet .twtr-tweet-text {
	padding-bottom: 4px!important;
}

#block-jasm-twitter-search-widget .twtr-tweet .twtr-tweet-text p {
	color: $dark!important;
}

#block-jasm-twitter-search-widget .twtr-timeline {
	border-radius: 0;
	-moz-border-radius: 0;
}
// }}}
// }}}
// # ABOUT {{{
.context-about {
	#block-nodeblock-about-title,
	#block-nodeblock-about-image,
	#block-nodeblock-about-masthead {
		h2.block-title {
			display: none;
		}
	}

	#block-nodeblock-about-title {
		margin: 0;
	}

	#block-nodeblock-about-image {
		padding: none;
	}

	img.media-image {
		border: 15px solid $light;
	}

	// Team List
	.view-display-id-pro_team_block {
		.views-row {
			margin-bottom: $dm * 3;
			overflow: hidden;
		}

		.views-field-picture a img {
			border: 15px solid $light;
		}

		.views-row-odd .views-field-picture a img {
			float: left;
			margin-right: $dm;
		}

		.views-row-even .views-field-picture a img {
			float: right;
			margin-left: $dm;
		}

		.views-field-realname {
			font-size: 140%;
			margin-top: -5px;
		}

		.views-row-even {
			.views-field-realname,
			.views-field-field-title { text-align: right; }
		}

		.views-field-field-pro-bio { margin-top: $dm; }
	}
}
// }}}
// # ANSWERS {{{
.page-faq-page {
	#block-nodeblock-answers-masthead {
		h2.block-title { display: none; }

		#pre-description {
			@include background-size(cover);
			background: url(../gfx/answers-masthead.jpg) no-repeat center center;
			height: 150px;
			margin-bottom: $dm;
		}

		#post-description { display: none; }
	}

	#faq-expand-all {
		margin-bottom: $dm;

		a {
			@include button-style;
			text-transform: capitalize;
		}
	}

	.faq-category-group {
		.faq-header {
			a {
				background: $lighter url(../gfx/icons/tri-collapsed-dark.png) no-repeat 20px center;
				color: $dark;
				display: block;
				padding: 5px;
				text-indent: 40px;
				text-decoration: none;
			}

			a:hover {
				background: $dark url(../gfx/icons/tri-collapsed-light.png) no-repeat 20px center;
				color: $lightest;
			}
		}

		.faq-category-qa-visible {
			a {
				background: $lighter url(../gfx/icons/tri-expanded-dark.png) no-repeat 15px center;
				color: $dark;
			}

			a:hover {
				background: $dark url(../gfx/icons/tri-expanded-light.png) no-repeat 15px center;
				color: $lightest;
			}
		}
	}

	.faq-question a {
		background: url(../gfx/icons/tri-mini-collapsed.png) no-repeat 5px center;
		padding-left: 20px;
		margin: 3px 0;
		text-decoration: none;
	}

	.faq-qa-visible a {
		background: url(../gfx/icons/tri-mini-expanded.png) no-repeat 0px center;
	}

	.faq-answer {
		margin: $dm 0;

		.field-name-body {
			margin-top: $dm;
		}

		.links a {
			@include button-style;
			float: right;
			overflow: hidden;
			padding: 3px 7px;
		}
	}

	#faq-order-settings-form select {
		width: 30%;
	}
}
// }}}
// # BLOG LIST {{{
.view-blog {
	.views-row {
		border-bottom: 1px solid $lighter;
		margin-bottom: $dm;
		padding-bottom: $dm;
	}

	.views-row-last { border-bottom: none; }

	.node-teaser {
		.sharethis-wrapper { margin: 0 0 $dm -3px; }

		.field-name-field-title-graphic { margin-bottom: $dm; }

		.field-submitted {
			float: left;
			font-style: italic;
			margin: 5px 50px 0 0;
			font-size: 90%;
			overflow: hidden;
		}

		.field-name-readmore .button {
			float: right;
			margin-bottom: $dm;
		}
	}
}

// }}}
// # BLOG FULL {{{
// ## CONTENT BODY {{{
.node-type-blog .node-blog {
	.sharethis-wrapper {
		margin-bottom: $dm;
	}

	.field-name-field-title-graphic {
		margin-bottom: $dm;
	}

	.field-submitted {
		font-style: italic;
		margin-bottom: $dm;
	}

	.field-name-field-specialties {
		ul.field-items {
			padding: 0;
			margin-bottom: $dm;
		}

		li.field-item {
			display: inline;
		}

		li.field-item a {
			@include button-style;
		}
	}
}

// About the Author Block
.view-display-id-about_author_block {
	.view-content {
		background: $lighter;
		border: 1px solid $light;
		font-size: 75%;
		padding: 25px;
		overflow: hidden;
	}

	.views-field-picture {
		float: left;
		width: 15%;
	}

	// .views-field-realname,
	// .views-field-field-title,
	.views-field-field-pro-bio {
		float: right;
		width: 80%;
		margin-top: 5px;
	}

	.views-field-realname {
		margin-left: 5%;

		&:after {
			content: " | "
		}
	}

	.views-field-field-title {
		// font-style: italic;
	}

	.views-field-field-pro-bio p {
		margin: 10px 0 0 0;
	}
}
// }}}
// ## FACEBOOK COMMENTS {{{
#block-facebook-comments-facebook-comments {
	h2.block-title {display: none;}

	.fb-comments {
		display: block!important;

		span {
			width: 100%!important;
		}

		span iframe {
			width: 100%!important;
		}
	}
}
// }}}
// }}}
// # SPECIALTIES LIST {{{
.view-display-id-specialties_page {
	h3 {
		@include border-radius(0);
		background: $lighter;
		margin-bottom: $dm;
	}

	.ui-accordion .view-grouping-header {
		display: none;
	}

	.ui-accordion .ui-accordion-header a {
		font-size: 200%;
		padding-left: $dm;
		line-height: 80px;

		&:hover {
			border: none;
			text-decoration: none;
		}

		.ui-state-active {
			background: red;
		}
	}

	.ui-helper-reset {
		font: 100%/1.5 Arial, sans-serif;
		line-height: 1.5;
		color: $dark;
	}

	.button {
		float: right;
	}
}
// }}}
// # SPECIALTIES FULL {{{
.node-type-specialty {
	.field-name-field-title-graphic {
		margin-bottom: $dm;
	}
}
// }}}
// # CONTACT {{{
.context-contact {
	// Masthead Intro
	.field-type-text-with-summary {

	}

	// Contact Form
	.webform-client-form {
		width: 90%;
		margin: $dm * 2 auto 0 auto;

		input[type="submit"] {
			float: right;
			position: relative;
			top: -70px;
			left: -50px;
			width: auto;
		}

		.webform-component-markup {
			background: $lighter;
			border: 1px solid $light;

			p {
				padding: 15px;
				padding-bottom: 70px;
			}
		}
	}

	#block-nodeblock-contact-image {
		h2.block-title {
			display: none;
		}
	}

	// h/vCard Contact Info
	#block-contactinfo-hcard {
		.vcard {
			margin-top: -10px;
			padding: 10px;
		}

		.org,
		.geo,
		.country-name {
			display: none;
		}

		.street-address {
			display: block;
		}

		.tagline {
			margin-bottom: $dm;
		}

		.phone {
			margin: $dm 0;
		}
	}

	// Google Map
	.field-name-field-map-address {
		iframe {
			width: 100% !Important;
			border:1px solid $light;
		}
	}
}
// }}}
// # TESTIMONIALS {{{
.page-testimonials {
	h2.block-title {
		display: none;
	}

	#block-nodeblock-testimonial-masthead {
		#pre-description {
			@include background-size(cover);
			background: url(../gfx/testimonials-masthead.jpg) no-repeat center center;
			height: 150px;
			margin-bottom: $dm;
		}

		#post-description {
			display: none;
		}
	}

	.view-display-id-page {
		.views-row {
			margin-bottom: $dm;
			border:1px solid $lighter;
			padding: 15px;
		}
	}
}
// }}}
// # GLOSSARY {{{
// Lexicon Admin Links
.role-support .lexicon-admin-links {
	display: none;
}

.lexicon-admin-links ul li {
	display: inline;
	margin: 0 $dm;

	&.first {
		margin-left: 0;
	}

	a {
		@include button-style;
	}
}

.page-glossary {
	.lexicon-links {
		margin-bottom: $dm;
		padding: $dm;
		background: $lighter;
	}

	.lexicon-list {
		dl dt {
			color: $dark;

			a {
				margin: $dm 0;
			}
		}

		h2.lexicon-letter {
			margin-top: 50px;
			// background: $lighter;
			border-bottom: 1px solid $light;
			padding: 5px;
			text-indent: 20px;
		}
	}

	.lexicon_go_to_top_link {
		@include button-style;
	}
}
// }}}
// # PRIVACY POLICY {{{
.context-privacy-policy {
	p+h2 {
		margin-top: $dm * 3;
	}
}
// }}}
// # USER PROFILE {{{
.user-profile .profile {
	margin: 0;

	#left-col {
		#card {
			#left-card {
				width: 90%;
				margin: 0 auto;

				.user-picture {
					float: none;
					text-align: center;
					margin: 0;

					img {
						border:10px solid $light;
						width: 50%;
					}
				}
			}

			#right-card {
				width: 90%;
				margin: 0 auto;
				#name {
					margin: 20px 0 0 0;
					font-size: 140%;
					text-align: center;
				}

				.field-name-field-title {
					font-size: 100%;
					margin-bottom: $dm;
					text-align: center;
				}

				#social-icons {
					width: 160px;
					margin: 0 auto;
					overflow: hidden;

					.field-name-field-linkedin a,
					.field-name-field-facebook a,
					.field-name-field-twitter a,
					.field-name-field-google-plus a {
						text-indent: 9999px;
						float: left;
						width: 32px;
						height: 32px;
						margin-right: 10px;
					}

					.field-name-field-linkedin a {
						background: url(../gfx/icons/linkedin.png) no-repeat;
					}

					.field-name-field-facebook a {
						background: url(../gfx/icons/facebook.png) no-repeat;
					}

					.field-name-field-twitter a {
						background: url(../gfx/icons/twitter.png) no-repeat;
					}

					.field-name-field-google-plus a {
						background: url(../gfx/icons/googleplus.png) no-repeat;
						margin-right: 0;
					}
				}
			}
		}

		.field-name-field-pro-bio {
				padding: 20px;
		}
	}

	#right-col {
		ul li {
			text-indent: 15px;
		}

		// Specialties
		.field-name-field-specialties {
			ul {
				overflow: hidden;
				margin-bottom: 25px;

				li {
					float: left;
					width: 48%;
				}
			}
		}

		// Education
		.field-name-field-education {
			padding: 0 10px;
			h3 {
				margin: 0;
				border: none;
			}

			p {
				border-bottom: 1px solid $light;
				padding-bottom: $dm;

				&:last-child {border: none;}
			}
		}

		// Awards & Organizations
		.field-name-field-awards-organizations {
			ul {
				margin-bottom: 25px;
			}
		}

		// Office Information
		.field-name-field-office {
			padding: 0 10px;
			p {
				// border-bottom: 1px solid $light;
			}
		}
	}
}
// }}}
// # LOGIN & PASSWORD {{{
.not-logged-in.context-user {
	#messages {
		a {
			display: none;
		}

		.status {
			background: none;
			color: $dark;
			border: none;
			display: block;
			position: relative;
			top: 450px;
			padding: 0;
			width: 80%;
			margin: 0 auto;
			text-align: center;
			z-index: 20001;
		}
	}

	#section-header,
	#section-footer {
		display: none;
	}

	#user-login,
	#user-pass {
		margin: 0 auto;
		width: 90%;

		a.brand {
			display: block;
			margin: 50px auto 30px;
			width: 300px;
			@media all and (max-width: 400px) {
				width: 100%;
			}
		}

		#user-login-content {
			background: $lighter;
			border: 1px solid $light;
			height: 200px;
			padding: 50px;
			overflow: hidden;
			@media all and (max-width: 400px) {
				padding: 25px 15px 30px;
			}

			.description {
				display: none;
			}

			#edit-submit {
				display: block;
				float: right;
 				@media all and (max-width: 400px) {
					margin: 0 auto;
					float: none;
					width: 90%;
					font-size: 80%;
				}
			}

			a.forgot-login-link {
				color: $dark;
				width: 100%;
				display: inline;
				margin: 0;
				text-align: center;
				@media all and (max-width: 400px) {
					display: block;
					margin: 20px auto 0 auto;
				}
			}
		}
	}
}
// }}}
// # TESTIMONIAL ADD {{{
.page-node-add-testimonial {
	a.brand {
		display: block;
		margin: 50px auto 30px auto;
		width: 300px;
		@media all and (max-width: 400px) {
			width: 85%;
		}
	}

	#testimonial-node-form {
		background: $lighter;
		border: 1px solid $light;
		padding: 20px;
		overflow: hidden;
		width: 85%;
		margin: 0 auto;

		.form-region-main {
			float: none;
			width: 100%;

			textarea {
				height: 150px;
			}

			.field-name-field-title-graphic {
				background: $lightest;
				border: 1px solid $light;
				padding: 10px 20px;
				margin: $dm 0;

				.description {
					margin: 20px 0 0;
					font-size: 70%;
				}

				#edit-field-title-graphic-und-0-upload {
					margin-top: $dm;
					@media all and (max-width: 270px) {
						margin-left: -$dm;
					}
				}

				// Upload
				input[type="submit"] {
					margin: 0 0 0 60px;
					@media all and (max-width: 530px) {
						margin: $dm 0 0;
					}
				}
			}
		}

		.form-region-right {
			width: auto;

			#edit-actions input {
				margin-right: $dm;
			}
		}
	}

	#bottom {
		margin: 0 auto;
		width: 85%;

		a {
			color: $light;
		}
	}
}


// }}}
// # MAINTENANCE {{{
.maintenance-page {
	margin: 20px 0 0 0;
	padding: 0;
	position: relative;

	img.brand {
		display: block;
		margin: 0 auto;
		width: 300px;
		@media all and (max-width: 300px) {
			width: 100%;
		}
	}

	h2 {
		text-align: center;
		font-size: 120%;
	}

	#container {
		background: url('../gfx/maintenance-bg.png') no-repeat center 0;
		height: 690px;
		width: 550px;
		margin: 0 auto;
		@media all and (max-width: 580px) {
			background: none;
			width: 100%;
		}

		p {
			font-size: 240%;
			color: $lightest;
			text-align: center;
			margin-top: -10px;
			padding-top: 5px;
			@media all and (max-width: 580px) {
				color: $dark;
				font-size: 120%;
			}
		}

		p.small {
			font-size: 120%;
			margin-top: -25px;
		}

		#phone-content {
			width: 241px;
			margin: 180px 0 0 27px;
			float: left;
			@media all and (max-width: 580px) {
				margin: 40px auto 0 auto;
				float: none;
			}

			p.phone {
				color: $dark;
				font-size: 175%;
				font-weight: bold;
				background: $light;
				padding: 5px 0 2px 0;
				@media all and (max-width: 580px) {
					margin: 0 auto;
				}
			}

			p.regular {
				color: $dark;
				font-size: 120%;
				margin-top: 30px;
				@media all and (max-width: 580px) {
					margin-top: 10px;
				}
			}

			#social-icons {
				text-align: center;
				margin-top: $dm * 2;
				@media all and (max-width: 580px) {
					// width: 100%;
					margin: 0 auto 0 auto;
				}
			}
		}

		#address {
			border: 1px solid $lighter;
			float: right;
			color: $dark;
			font-size: 100%;
			padding: $dm;
			text-align: left;
			position: relative;
			top: 135px;
			left: 0px;
			@media all and (max-width: 580px) {
				float: none;
				text-align: center;
				margin: 0 auto;
				border: none;
				top: 20px;
			}

			img {
				display: block;
				position: relative;
				margin: 20px auto 0 auto;
				width: 129px;
			}
		}
	}
}
// }}}
// # COMMON ELEMENTS {{{
// More Link
a.more-link {
	@include button-style;
	margin: 40px 10px 0px 10px;
	float: right;
}

// Next & Previous Links
.region-content ul.flippy {
	text-align: center;
	margin: 15px 0;
	padding: 0;

	li.next,
	li.previous {
		font-size: 130%; // 300% for circled bg.
		display: inline;
		position: static;
		padding: 0 20px;

		// @include border-radius(25px); // for circled bg.
		// background: #EEE; // for circled bg.
		// width: 40px; // for circled bg.
		// height: 40px; // for circled bg.
	}

	li.next a:before { content: "NEXT" }
	li.previous a:after { content: "PREV" }

	li a {
		color: #CCC;
		text-decoration: none;
		// position: relative; // for circled bg.
		// top: -20px; // for circled bg.
	}

	li a:hover {
		color: $dark;
	}
}

// Custom Error Pages
.page-customerror {
	#customerror-content {
		h2 {
			color: red;
			font-size: 150%;
			margin-bottom: 15px;
		}

		p {
			font-size: 120%;
			padding: 40px 15px 60px 225px;
			line-height: 1.5em;
			border: 1px solid #CCC;
			background: #EEE url(../gfx/not-found-flag.png) no-repeat 5px 10px;
		}

	}
}
// }}}
// # BLOCKS {{{
// ## SOCIAL MEDIA LINKS {{{
#block-jasm-service-list { margin-bottom: 10px; }

#block-jasm-service-list .item-list {
	// display: table; // for centering
	// margin: 0 auto; // for centering
	// min-width: 240px; // for centering
}

ul.jasm-service-list li {
	float: left;
	// margin: 0 4%; // for centering
	margin: 0 5px;
}

ul.jasm-service-list li.first { margin-left: 0; }
ul.jasm-service-list li.last { margin-right: 0; }

ul.jasm-service-list a {
  display: block;
	height: 32px;
	width: 32px;
	text-indent: -99999px;
}

ul.jasm-service-list a.facebook {
	background:url(../gfx/icons/facebook.png) no-repeat;
}

ul.jasm-service-list a.twitter {
	background:url(../gfx/icons/twitter.png) no-repeat;
}

ul.jasm-service-list a[class="google+"] {
	background:url(../gfx/icons/googleplus.png) no-repeat;
}

ul.jasm-service-list a.linkedin {
	background:url(../gfx/icons/linkedin.png) no-repeat;
}

ul.jasm-service-list a.rss {
	background:url(../gfx/icons/rss.png) no-repeat;
}

// }}}
// ## FACEBOOK SOCIAL WIDGET {{{
#block-jasm-fb-like-box iframe {
	width: 100%!important;
	height:	75px!important;
	margin: 0 0 -15px -10px;
	border:1px solid red;
}
// }}}
// ## TWITER SOCIAL WIDGET {{{
#block-jasm-twitter-follow-button {
}
	// }}}
// ## EMAIL SUBSCRIPTION {{{
#block-jasm-feedburner-mail-subscribe {

	input[type="text"] {
		margin-bottom: 10px;
	}

	.form-item {
		margin: 0;
		float: left;
	}

	.form-submit {
		@include border-radius(0);
		font-size: 85%;
		padding: 5px 8px 4px 8px;
	}
}
// }}}
// ## SPECIALTIES LIST {{{
#block-views-specialties-specialties-block {
	ul.specialties {
		list-style-position: inside;
		margin-left: 5%;

		li {
			width: 95%;
			list-style: none;

			a {
				background: $lighter url(../gfx/icons/dot-dark.png) no-repeat 15px center;
				display: block;
				padding: 10px 0;
				margin: 5px 0;
				text-indent: 45px;
			}

			a:hover {
				background: $dark url(../gfx/icons/dot-light.png) no-repeat 15px center;
				color: $lightest;
				text-decoration: none;
			}
		}
	}
}
// }}}
// ## TESTIMONIALS {{{
#block-views-testimonals-block {
	.content {
		padding: 15px;
		margin-top: -5px;
		border:1px solid $lighter;
	}

	.button {
		float: right;
	}

	.view-footer {
		margin-top: $dm;
		overflow: auto;
	}
}
// }}}
// ## RELATED POSTS {{{
#block-views-blog-related-content-block {
		.view-blog .views-row {
			margin: 0;
			border: none;

			h2 {
				margin: 0;
				font-size: 90%;
				font-family: Arial, sans-serif;
				font-weight: normal;
			}
		}

		.view-content {
			padding: 5px;
	}
}
// }}}
// ## SOCIAL WELCOME {{{
#block-nodeblock-social-welcome { display: none; }
// }}}
// }}}
// }}}
// FOOTER SECTION {{{
// *****************************************************************************
// # SECTION {{{
#section-footer {
	margin-top: 50px;

	.block,
	p,
	dl,
	hr,
	ol,ul,
	pre,
	table,
	address,
	fieldset,
	blockquote,
	h1,h2,h3,h4,h5,h6 { margin: 0; }
}
// }}}
// # FOOT {{{
#zone-foot-wrapper {
	margin: 0;
	background: $lighter;
	color: $dark;

	#block-nodeblock-site-disclamer {
		h2.block-title { display: none; }

		.content p {
			padding: 25px;
		}
	}
}
// }}}
// # BOTTOM {{{
#zone-bottom-wrapper {
		background: $dark;
		color: $light;

	#block-menu-menu-auxiliary  {
		padding-top: $dm;

		h2.block-title { display: none; }

		ul.menu { margin: 0; }

		ul.menu li { display: inline; }

		ul.menu li a { color: $lightest; }
	}

	#block-nodeblock-copyright {
		margin-top: $dm;

		h2.block-title { display: none; }

		.content p {
			text-align: right;
			color: $darker;

			a {
				color: $darker;
			}
		}
	}
}
// }}}
// }}}
