/* vim:set fdm=marker: */
/**
 * This file will hold styles for the mobile version of your website (mobile first).
 * This also can include ANY global CSS that applies site-wide. Unless overwritten
 * by a more specific style rule, CSS declarations in global.css will apply site-wide.
 */

// IMPORTS {{{
// *****************************************************************************

@import "compass/css3";

@import "font-awesome";

// @import url("../../../rubik/css/admin-menu.css");

@import url(http://fonts.googleapis.com/css?family=Monda:400,700);

// }}}
// VARIABLES {{{
// *****************************************************************************

/* Colors */
$lightest: #FFFFFF;
$lighter: #EAEAEA;
$light: #CCCCCC;
$dark: #666666;
$darker: #444444;
$darkest: #000000;

/* Margins/Padding */
$default_margin: 15px;

// }}}
// HTML ELEMENTS {{{
// *****************************************************************************

body {
	font: 100%/ 1.5 Arial, sans-serif;
	color: $dark;
	margin: $default_margin;
}

a:link,
a:visited {
	color: $dark;
	text-decoration: none;
}

a:hover {
	color: #202124;
	text-decoration: underline;
}

a:active {
	color: #202124;
	text-decoration: none;
	color: #000000;
}

hr {
	margin: 0;
	padding: 0;
	border: none;
	height: 1px;
	background: #5294C1;
}

h1,h2,h3,h4,h5,h6 {
	letter-spacing: -.05em;
	font-family: Monda, sans-serif;
	margin-bottom: $default_margin;
}

h1 {
	font-size: 110%;
}

h2 {
	font-size: 108%;
}

h3 {
	font-size: 106%;
}

h4 {
	font-size: 104%;
}

h5 {
	font-size: 102%;
}

h6 {
	font-size: 100%;
}

ol {
	list-style: decimal;
}

ul {
	list-style: disc;
}

ul ul,
ol ol {
	padding-top: .5em;
}

p,
dl,
hr,
ol,ul,
pre,
table,
address,
fieldset,
h1,h2,h3,h4,h5,h6 {
	margin-bottom: $default_margin;
}

dd {
	padding-left: 10px;
	font-size: .9em;
	font-style: italic;
	margin-bottom: $default_margin;
}

img {
	height: auto;
	max-width: 100%;
	width: auto\9; /* Fix for IE 8 */
}

// }}}
// DRUPAL ELEMENTS {{{
// *****************************************************************************

h2.node-title {
	font-size: 160%;
}

h2.block-title {
	background: $lighter;
	padding: 5px 0;
	text-indent: 10px;
}

.node ol,
.node ul {
	padding-left: 1.2em;
}

.node ul.inline,
.node ol.inline {
	padding-left: 0;
}

.block {
	margin-bottom: $default_margin+10px;
}

dt,.admin h3 {
	font-size: 18px;
	margin: 0;
}

// }}}
// HEADER SECTION {{{
// *****************************************************************************

/* # User Menu */// {{{
/* -------------------------------------------------------------------------- */

#block-system-user-menu h2.block-title {
	display: none;
}

#block-system-user-menu ul.menu {
	text-align: center;
}

#block-system-user-menu ul.menu li {
	display: inline;
}

#block-system-user-menu ul.menu li a {
}

// }}}
/* # Branding */// {{{
/* -------------------------------------------------------------------------- */

#block-delta-blocks-logo .logo-img {
	text-align: center;
	margin-bottom: $default_margin;
}

// }}}
/* # Call to Action */// {{{
/* -------------------------------------------------------------------------- */

#block-nodeblock-call-to-action {
	color: $lightest;
	float: right;
	font-family: Monda, sans-serif;
	width: 150px;
}

#block-nodeblock-call-to-action h2.block-title { // title
	display: none;
}

#block-nodeblock-call-to-action .field-item div { // phone container
	@include border-radius(5px);
	background: $dark;
	text-align: center;
	padding-top: 5px;
	height: 30px;
}

#block-nodeblock-call-to-action p.action-number i { // phone icon
	font-size: 165%;
	vertical-align: middle;
}

#block-nodeblock-call-to-action p.action-number { // phone number
	font-size: 80%;
	margin-top: -2px;
}

#block-nodeblock-call-to-action p.action-caption { // caption
	text-align: center;
	font-size: 80%;
	color: $dark;
}

// }}}
/* # Main Menu */// {{{
/* -------------------------------------------------------------------------- */

#block-system-main-menu h2.block-title {
	display: none;
}

#block-system-main-menu li {
	display: inline;
}

#block-system-main-menu li.first {
	margin: 0;
}

#block-system-main-menu li a {
	text-decoration: none;
}

#block-system-main-menu li a.active {
	@include border-radius(5px);
	background: $dark;
	color: $lightest;
	padding: 5px 10px;
}

// }}}

// }}}
// CONTENT SECTION {{{
// *****************************************************************************

// # GLOBAL // {{{

/* Social Media links */

#block-jasm-service-list .item-list {
	display: table;
	margin: 0 auto;
	min-width: 240px;
}

ul.jasm-service-list li {
	float: left;
	margin: 0 4%;
}

ul.jasm-service-list li.first { margin-left: 0; }
ul.jasm-service-list li.last { margin-right: 0; }

ul.jasm-service-list a {
  display: block;
	height: 32px;
	width: 32px;
	text-indent: -99999px;
}

ul.jasm-service-list a.facebook {
	background:url(../gfx/icons/facebook-icon.png) no-repeat;
}

ul.jasm-service-list a.twitter {
	background:url(../gfx/icons/twitter-icon.png) no-repeat;
}

ul.jasm-service-list a[class="google+"] {
	background:url(../gfx/icons/googleplus-icon.png) no-repeat;
}

ul.jasm-service-list a.linkedin {
	background:url(../gfx/icons/linkedin-icon.png) no-repeat;
}

ul.jasm-service-list a.rss {
	background:url(../gfx/icons/rss-icon.png) no-repeat;
}


// }}}
// # HOME PAGE // {{{

/* ## Showcase */// {{{

#block-views-showcase-generic {
	margin-bottom: $default_margin;
}

#block-views-showcase-generic .views-field-title {
	display: none;
}

#block-views-showcase-generic .views-field-field-subtitle {
	display: none;
}

#block-views-showcase-generic .views-field-field-url {
	display: none;
}

#block-views-showcase-generic #widget_pager_bottom_showcase-generic {
	text-align: center;
}

/* ### Showcase Pager */// {{{

.view-showcase .skin-default .views-slideshow-controls-bottom {
	clear: both;
}

.view-display-id-generic .views-slideshow-pager-field-item {
	@include border-radius(10px);
	border: 1px solid $light;
	color: $lighter;
	display: inline-block;
	height: 8px;
	margin-right: 2px;
	text-indent: -99999px;
	width: 8px;
	zoom: 1;
}

.view-showcase .views-slideshow-pager-field-item:hover {
	cursor: pointer;
}

.view-showcase .active {
	background: $dark;
}

.view-display-id-thumbnail .views-slideshow-pager-field-item {
	float: left;
	margin: 0 10px;
}

// }}}
/* ### Showcase Elements TODO: Needs parsing */// {{{

.view-showcase {}

.view-showcase .views_slideshow_cycle_main {
	border: 1px solid $light;
	padding: 1em;
}

.view-showcase .views-slideshow-cycle-main-frame-row {
	width: 100%;
}

/* Title */
.view-showcase .views-field-title {
	float: left;
	font-size: 32px;
	line-height: 32px;
	width: 33%;
}

.view-showcase .views-field-title a:link,.view-showcase .views-field-title a:visited {
	color: #000000;
	text-decoration: none;
}

/* Subitle */
.view-showcase .views-field-title .field-content,.view-showcase .views-field-field-subtitle .field-content {
	padding: 10px;
}

.view-showcase .views-field-field-subtitle {
	color: red;
	margin-bottom: $default_margin;
}

/* Read More */
.view-showcase .views-field-field-url {
	float: left;
	text-align: center;
	width: 10%;
}

.view-showcase .views-field-field-url a:link,.view-showcase .views-field-field-url a:visited {
	color: #919191;
	font-size: 12px;
	text-decoration: none;
}

.view-showcase .views-field-field-url .field-content {
	background: url(../gfx/button.png);
	border: 1px solid #c7c7c7;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	padding: 5px 10px 7px;
}

.view-showcase .views-field-field-url .field-content:active {
	background: url(../gfx/button-active.png) no-repeat;
}

/* Previous/Next Controls */
.view-showcase .views-slideshow-controls-text-previous,.view-showcase .views-slideshow-controls-text-pause,.view-showcase .views-slideshow-controls-text-play,.view-showcase .views-slideshow-controls-text-next {
	display: block;
	height: 40px;
	text-indent: -9999px;
	width: 40px;
}

.view-showcase .views-slideshow-controls-text-previous {
	background: url(../gfx/controls.png) no-repeat top left;
	bottom: 58%;
	left: -20px;
	position: absolute;
	z-index: 99;
}

.view-showcase .views-slideshow-controls-text-previous:active {
	background: url(../gfx/controls.png) no-repeat bottom left;
}

.view-showcase .views-slideshow-controls-text-pause {
	display: none;
}

.view-showcase .views-slideshow-controls-text-next {
	background: url(../gfx/controls.png) no-repeat top right;
	bottom: 58%;
	position: absolute;
	right: -20px;
	z-index: 99;
}

.view-showcase .views-slideshow-controls-text-next:active {
	background: url(../gfx/controls.png) no-repeat bottom right;
}
// }}}

// }}}
/* ## Trending (Twitter) */// {{{

// full block
#block-jasm-twitter-search-widget {
	width: 100%!important;
	height: auto!important;
	margin: 0 auto!important;
}

#block-jasm-twitter-search-widget img {
	max-width: none;
}

// headers & titles
#block-jasm-twitter-search-widget #twtr-widget-1 .twtr-new-results,
#block-jasm-twitter-search-widget #twtr-widget-1 .twtr-results-inner,
#block-jasm-twitter-search-widget #twtr-widget-1 .twtr-timeline,
#block-jasm-twitter-search-widget #twtr-widget-1 .twtr-doc,
#block-jasm-twitter-search-widget #twtr-widget-1 .twtr-hd a,
#block-jasm-twitter-search-widget #twtr-widget-1 h3,
#block-jasm-twitter-search-widget #twtr-widget-1 h4 {
	background: none!important;
	margin-bottom: $default_margin;
}


#block-jasm-twitter-search-widget .twtr-widget,
#block-jasm-twitter-search-widget .twtr-doc {
	width: 100%!important;
	height: auto;
}

#block-jasm-twitter-search-widget .twtr-hd,
#block-jasm-twitter-search-widget .twtr-ft {
	display: none;
}

#block-jasm-twitter-search-widget .twtr-hd *,
#block-jasm-twitter-search-widget .twtr-ft *,
#block-jasm-twitter-search-widget .twtr-hd h4 a,
#block-jasm-twitter-search-widget .twtr-ft h4 a {
	background: none!important;
	color: #0062A0!important;
}

#block-jasm-twitter-search-widget .twtr-hd h3,
#block-jasm-twitter-search-widget .twtr-hd h4 {
	font-weight: normal;
	text-align: center;
}

#block-jasm-twitter-search-widget .twtr-hd h3 {
	background: none!important;
	font-size: 1.5em!important;
	padding: .2em!important;
}

#block-jasm-twitter-search-widget .twtr-hd h3 a {
	background: none!important;
	color: $darkest!important;
}

#block-jasm-twitter-search-widget .twtr-bd {
	/* background: none !important; */
}

#block-jasm-twitter-search-widget .twtr-tweet {
	background: $lightest;
	border-bottom: 1px solid #eee!important;
}

#block-jasm-twitter-search-widget .twtr-tweet a:link,
#block-jasm-twitter-search-widget .twtr-tweet a:visited,
#block-jasm-twitter-search-widget .twtr-tweet a:hover {
	color: $darkest!important;
}

#block-jasm-twitter-search-widget .twtr-tweet .twtr-tweet-text {
	padding-bottom: 4px!important;
}

#block-jasm-twitter-search-widget .twtr-tweet .twtr-tweet-text p {
	color: $dark!important;
}

#block-jasm-twitter-search-widget .twtr-timeline {
	border-radius: 0;
	-moz-border-radius: 0;
}

// }}}
/* ## Latest Post (Blog) */// {{{

.view-blog .views-row {
	border-bottom: 1px solid $lighter;
	margin-bottom: $default_margin;
	padding-bottom: $default_margin + 10px;
	overflow: auto; // Clear the floated more link.
}

.view-blog .views-row-last {
	border-bottom: none;
}

.view-blog .views-field-field-title-graphic {
	float: left;
	margin-right: $default_margin;
}

.view-blog .sharethis-wrapper {
	float: right;
	margin: 0 0 10px 10px;
}

.view-blog .field-submitted {
	float: left;
	font-style: italic;
	margin-right: 5px;
}

.view-blog .views-field-realname-1 {
	font-style: italic;
}

.view-blog .views-field-realname-1 a {
	color: $darkest;
}

.view-blog .views-field-view-node a {
	@include border-radius(5px);
	background: $dark;
	color: $lightest;
	float: right;
	margin: 5px 5px 0;
	padding: 2px 10px;
}

// }}}

// }}}
// # BLOG PAGE // {{{

.node-blog .field-name-field-title-graphic {
	margin-bottom: $default_margin;
}

.node-blog .sharethis-wrapper {
	float: right;
	margin: 0 0 10px 10px;
}

.node-blog .field-submitted {
	font-style: italic;
	margin-bottom: $default_margin;
}

.node-blog .field-submitted a {
	color: $darkest;
}

.node-blog .field-name-field-blog-tags ul.field-items {
	padding: 0;
}

.node-blog .field-name-field-blog-tags li.field-item {
	display: inline;
}

.node-blog .field-name-field-blog-tags li.field-item a {
	@include border-radius(5px);
	background: $dark;
	color: $lightest;
	margin: 0 5px;
	padding: 5px 10px;
}

// }}}

// }}}
// UNCATEGORIZED {{{
// *****************************************************************************

/* Facebook Comments  */
.fb-comments {
display: block!important;
}

.fb-comments span {
width: 100%!important;
}

.fb-comments span iframe {
width: 100%!important;
}

/* Position message close button */
div.messages a.close {
float: right;
margin: -10px 10px 0;
font-size: 170%;
color: #999;
text-decoration: none;
}

/* Blocks */
.block-fb-like-box iframe {
width: 100%!important;
}

/* Context UI */
/* hides contextual link gears when inline editor is active */
.context-editing .contextual-links-region:hover a.contextual-links-trigger,.context-editing div.contextual-links-active a.contextual-links-trigger,.context-editing div.contextual-links-active ul.contextual-links {
display: none;
}


// }}}
