/* vim:set fdm=marker: */
/*
This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout).
*/
// IMPORTS {{{
// *****************************************************************************
@import "_global_include";
// }}}
// HEADER SECTION {{{
// *****************************************************************************
// # USER MENU {{{
#block-system-user-menu ul.menu {
	text-align: right;
}
// }}}
// # BRANDING {{{
#block-delta-blocks-logo .logo-img {
	text-align: left;
}
// }}}
// # CALL TO ACTION {{{
#block-nodeblock-call-to-action {
	width: 100%;
}
// }}}
// }}}
// CONTENT SECTION {{{
// *****************************************************************************
// # ABOUT PAGE {{{
.context-about {
	#about_graphic {
		margin: 0 10px 15px 15px;
		float: right;
	}
}

// }}}
// # HOME PAGE {{{
// }}}
// # BLOG PAGE {{{
// ## BLOG TEASER {{{
.view-blog .node-teaser .field-name-field-title-graphic {
	margin: 6px $default_margin 0 0;
	float: left;
}
// }}}
// ## BLOG FULL {{{
// ### CONTENT BODY {{{
.node-type-blog .node-blog {
	.flippy li.next,
	.flippy li.previous {
		font-size: 750%; // 300% for circled bg.
		display: inline-block;
		position: relative;
		top: -400px;
		padding: 0;
		width: 30px;
	}

	.flippy {
		text-align: center;
		height: 0;
	}

	.flippy li.next { margin-left:$default_margin * 2; }
	.flippy li.previous { margin-right: $default_margin * 2; }

	.flippy li.next a:before { content: none }
	.flippy li.previous a:after { content: none }
}
// }}}
// }}}
// }}}
// }}}
// FOOTER SECTION {{{
// *****************************************************************************
// # SECTION {{{
// }}}
// # FOOT {{{
#zone-foot-wrapper {
	$fh: 150px;
	height: $fh;

	.region { height: $fh; }

	#block-nodeblock-site-disclamer {
		.content p {
			display: table-cell;
			height: $fh;
			padding: 0 15px;
			vertical-align: middle;
		}
	}
}
// }}}
// # BOTTOM {{{
#zone-bottom-wrapper {
		height: 60px;
		line-height: 60px;

	.region { height: 60px; }

	#block-menu-menu-auxiliary  { padding-top: 0;}

	#block-nodeblock-copyright { margin-top: 0; }
}
// }}}
// }}}
