/* vim:set fdm=marker: */
/*
 This file will hold styles that are loaded using the same media query as the
 normal grid. If you are using the default media queries provided by Omega,
 these styles will also apply to the widescreen layout unless they are
 overridden by the widescreen styles.
*/


// HEADER SECTION {{{
// *****************************************************************************

/* User Menu */// {{{
/* -------------------------------------------------------------------------- */

// }}}
/* Logo Block (Branding) */// {{{
/* -------------------------------------------------------------------------- */

// }}}
/* Call to Action Block */// {{{
/* -------------------------------------------------------------------------- */

#block-nodeblock-call-to-action p.action-number { // phone number
	font-size: 100%;
	margin-top: -6px;
}

// }}}

// }}}
// CONTENT SECTION {{{
// *****************************************************************************

// # GLOBAL // {{{

/* Social Media Links */
#block-jasm-service-list .item-list {
	min-width: 300px;
}

.item-list ul.jasm-service-list li {
	margin: 0 5.6%;
}

ul.jasm-service-list li.first { margin-left: 2px; }
ul.jasm-service-list li.last { margin-right: 0; }

// }}}

// }}}
