/* vim:set fdm=marker: */
/*
                                         ____   ____ ____ ____
  _ __   __ _ _ __ _ __ _____      __   / ___| / ___/ ___/ ___|
 | '_ \ / _` | '__| '__/ _ \ \ /\ / /___\___ \| |   \___ \___ \
 | | | | (_| | |  | | | (_) \ V  V /_____|__) | |___ ___) |__) |
 |_| |_|\__,_|_|  |_|  \___/ \_/\_/     |____/ \____|____/____/

*/

// IMPORTS {{{
// *****************************************************************************
@import "_global_include";
// }}}


// HEADER SECTION {{{
// *****************************************************************************
// # CALL TO ACTION {{{
#block-nodeblock-call-to-action p.action-number i { // phone icon
	// font-size: 160%;
}

#block-nodeblock-call-to-action p.action-number { // phone number
	// font-size: 80%;
	// margin-top: -1px;
}
// }}}
// }}}
// CONTENT SECTION {{{
// *****************************************************************************
// # HOME {{{
// ## SLIDESHOW {{{
#block-views-slideshow-slideshow {
	.flexslider {
		ul.slides li {
			.views-field-nothing {
				#slide-content {
					width: 665px;
					p {
						width: 585px;
					}
				}
			}
		}
	}
}
// }}}
// }}}
// # BLOG FULL {{{
// ## CONTENT BODY {{{
// About the Author Block
.view-display-id-about_author_block {
	.views-field-field-user-image {
		width: 25%;
	}

	// .views-field-realname,
	// .views-field-field-title,
	.views-field-field-pro-bio {
		width: 70%;
	}

	.views-field-realname {
		margin-left: 20px;
	}
}
// }}}
// }}}
// # COMMON ELEMENTS {{{
// Next & Previous Links
.flippy li.next { right: -455px; }
.flippy li.previous { left: -225px; }
// }}}
// # BLOCKS {{{
// ## SOCIAL MEDIA LINKS {{{
#block-jasm-service-list .item-list {
	// min-width: 220px; // for centering
}

.item-list ul.jasm-service-list li {
	// margin: 0 3.3%; // for centering
	margin: 0 5px;
}

ul.jasm-service-list li.first { margin-left: 2px; }
ul.jasm-service-list li.last { margin-right: 0; }
// }}}
// ## EMAIL SUBSCRIPTION {{{
#block-jasm-feedburner-mail-subscribe .form-submit {
	float: right;
	margin-bottom: 10px;
}
// }}}
// }}}
// }}}
