/* vim:set fdm=marker: */
/*
This file will hold styles that are loaded using the same media query as the
narrow grid. If you are using the default media queries provided by Omega, these
styles will also apply to the normal and widescreen layouts. You may override
these styles in the normal and widescreen CSS files as appropriate.
*/

// IMPORTS {{{
// *****************************************************************************
@import "_global_include";
// }}}
// HEADER SECTION {{{
// *****************************************************************************
// # Call to Action {{{
#block-nodeblock-call-to-action p.action-number i { // phone icon
	font-size: 160%;
}

#block-nodeblock-call-to-action p.action-number { // phone number
	font-size: 80%;
	margin-top: -1px;
}
// }}}
// }}}
// CONTENT SECTION {{{
// *****************************************************************************
// # BLOCKS {{{
// ## Social Media Links {{{
#block-jasm-service-list .item-list {
	// min-width: 220px; // for centering
}

.item-list ul.jasm-service-list li {
	// margin: 0 3.3%; // for centering
	margin: 0 5px;
}

ul.jasm-service-list li.first { margin-left: 2px; }
ul.jasm-service-list li.last { margin-right: 0; }
// }}}
// ## Email Subscription {{{
#block-jasm-feedburner-mail-subscribe .form-submit {
	float: right;
	margin-top: 10px;
}
// }}}
// }}}
// # BLOG PAGE {{{
// ## BLOG FULL {{{
// ### CONTENT BODY {{{
.node-type-blog .node-blog {
	.flippy li.next { right: -455px; }
	.flippy li.previous { left: -225px; }
}

.view-display-id-pro_team_block {
	.views-field-picture {
		width: 25%;
	}

	.views-field-realname,
	.views-field-field-title,
	.views-field-field-bio-summary {
		width: 70%;
	}
}
// }}}
// }}}
// }}}
// }}}
