/* vim:set fdm=marker: */
/*
 This file will hold styles that are loaded using the same media query as the
 wide grid.
*/

// IMPORTS {{{
// *****************************************************************************
@import "_global_include";
// }}}
// HEADER SECTION {{{
// *****************************************************************************
// }}}
// CONTENT SECTION {{{
// *****************************************************************************
// # BLOCKS {{{
// ## Social Media Links {{{
#block-jasm-service-list .item-list {
	min-width: 380px;
}

.item-list ul.jasm-service-list li {
	margin: 0 5.6%;
}

ul.jasm-service-list li.first { margin-left: 0; }
ul.jasm-service-list li.last { margin-right: 0; }
// }}}
// ## Email Subscription {{{
#block-jasm-feedburner-mail-subscribe .form-submit {
	float: none;
	margin-top: 0;
}

#block-jasm-feedburner-mail-subscribe .form-text {
	width: 300px;
}
// }}}
// }}}
// }}}
