/* vim:set fdm=marker: */
/*
This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout).
*/
// IMPORTS {{{
// *****************************************************************************
@import "_global_include";
// }}}
// HEADER SECTION {{{
// *****************************************************************************
// # USER MENU {{{
#block-system-user-menu ul.menu {
	text-align: right;
}
// }}}
// # BRANDING {{{
#block-delta-blocks-logo .logo-img {
	text-align: left;
}
// }}}
// # CALL TO ACTION {{{
#block-nodeblock-call-to-action {
	width: 100%;
}
// }}}
// # MAIN MENU {{{
// Mobile Menu Link
#block-mobile-menu-toggle-mobile-menu-toggle {
	display: none;
}

// Main Menu
#zone-menu {
	display: block !important;
	margin-bottom: $dm;

	#block-system-main-menu {
		ul.menu {
			li {
				// display: inline;
				width: auto;

				&.first {
					margin-left: 0;
				}

				a {
					background: none;
					display: inline;

					&.active {
						@include button-style;
					}
				}
			}
		}
	}
}
// }}}
// }}}
// CONTENT SECTION {{{
// *****************************************************************************
// # HOME PAGE {{{
// }}}
// # ABOUT PAGE {{{
.context-about {
	#about_graphic {
		margin: 0 10px 15px 15px;
		float: right;
	}
}
// }}}
// # BLOG PAGE {{{
// ## BLOG TEASER {{{
.view-blog .node-teaser .field-name-field-title-graphic {
	margin: 6px $dm 0 0;
	float: left;
}
// }}}
// ## BLOG FULL {{{
// ### CONTENT BODY {{{
// }}}
// }}}
// }}}
// # CONTACT PAGE {{{
// }}}
// # LOGIN PAGE {{{
.not-logged-in.user-account {

	#messages {
		.status {
			top: 420px;
		}
	}

	#user-login,
	#user-pass {
		width: 500px;

		#user-login-content {
			height: 200px;

			#edit-submit {
				float: right;
				width: auto;
				min-width: auto;
			}

			a {
				display: inline;
				padding: 0;
				margin: 0;
			}
		}
	}
}
// }}}
// # COMMON ELEMENTS {{{

// Next & Previous Links
.region-content ul.flippy {
	text-align: center;
	height: 0;

	li.next,
	li.previous {
		font-size: 750%; // 300% for circled bg.
		display: inline-block;
		position: relative;
		top: -400px;
		padding: 0;
		width: 30px;
	}

	li.next { margin-left:$dm * 2; }
	li.previous { margin-right: $dm * 2; }

	li.next a:before { content: none }
	li.previous a:after { content: none }
}
// }}}
// FOOTER SECTION {{{
// *****************************************************************************
// # SECTION {{{
// }}}
// # FOOT {{{
#zone-foot-wrapper {
	$fh: 150px;
	height: $fh;

	.region { height: $fh; }

	#block-nodeblock-site-disclamer {
		.content p {
			display: table-cell;
			height: $fh;
			padding: 0 15px;
			vertical-align: middle;
		}
	}
}
// }}}
// # BOTTOM {{{
#zone-bottom-wrapper {
		height: 60px;
		line-height: 60px;

	.region { height: 60px; }

	#block-menu-menu-auxiliary  { padding-top: 0;}

	#block-nodeblock-copyright { margin-top: 0; }
}
// }}}
// }}}
