/* vim:set fdm=marker: */
/*
 This file will hold styles that are loaded using the same media query as the
 wide grid.
*/

// IMPORTS {{{
// *****************************************************************************
@import "_global_include";
// }}}
// HEADER SECTION {{{
// *****************************************************************************
// }}}
// CONTENT SECTION {{{
// *****************************************************************************
// # BLOCKS {{{
// ## Social Media Links {{{
#block-jasm-service-list .item-list {
	// min-width: 380px; // for centering
}

.item-list ul.jasm-service-list li {
	// margin: 0 5.6%; // for centering
	margin: 15px;
}

ul.jasm-service-list li.first { margin-left: 0; }
ul.jasm-service-list li.last { margin-right: 0; }
// }}}
// ## Email Subscription {{{
#block-jasm-feedburner-mail-subscribe .form-submit {
	float: none;
	margin-top: 0;
}

#block-jasm-feedburner-mail-subscribe .form-text {
	width: 300px;
}
// }}}
// }}}
// # BLOG PAGE {{{
// ## BLOG FULL {{{
// ### CONTENT BODY {{{
.node-type-blog .node-blog {
	.flippy li.next { right: -775px; }
	.flippy li.previous { left: -385px; }
}

.view-Professionals {
	.views-field-picture {
		width: 17%;
	}

	.views-field-realname,
	.views-field-field-title,
	.views-field-field-bio-summary {
		width: 83%;
	}
}
// }}}
// }}}
// }}}
// }}}
