/**
 * @file
 * Display Suite small_right_col stylesheet.
 */

.ds-group-left {
  width:60%;
  float:left;
  margin-right:20px;
}

.ds-group-right {
  width:38%;
  float:left;
}

.ds-group-left input, .ds-group-right input {
  margin:0 2px;
}
